body {
  background-color: #538c94;
  font-family: Arial;
}
h1 {
  color: rgb(14, 56, 83);
  font-style: italic;
  font-family: Arial;
}
h3 {
  color: white;
}

hr {
  border: none;
  border-top: 10px dotted #fff323;
  width: 5%;
}
